div p{
    color: orange;
    background-color: blue;
}

/* right after div */
div > p {
    color: blue;
    background-color: orange;
}

/* Sibllings right after div */
div ~ p {
    color: fuchsia;
    background-color: yellow;;
}

div + p{
    color: ff0d4a;
    background-color:green;
}