
body{
    height: 100vh;
    width: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}


#bttn{
    background-color: green;
    border-radius: 5px;
    color: white;
}

#bttn:hover{
    background-color: greenyellow;
    color: green;
}

#bttn:hover{
    animation-name: change;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

img{
    max-width: 30vw;
    max-height: 30vh;
    height: 20vh;
    width: 20vw;
    border-radius: 100%;
}


img{
    animation-name: change;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes change{
    0% { 
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
} 

p{
    padding: 1vh;
    font-size: .5em;
    text-indent: 2em;
}

p{
    animation-name: pulse-color;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes pulse-color{
    0%{
        color: green;
    }
    100%{
        color: greenyellow;
    }
}