
li:last-child{
    color: blue;
}

ul:first-child{
    background-color: black;
}

/* Overrides first:child */
li:nth-child(even){
    color: hotpink;
}

li:nth-child(odd){
    color: purple;
}

li:first-child{
    color: greenyellow;
}


li:nth-child(3n + 5){
    color: red;
}

li:only-child{
    color: orange;
}

li:nth-last-child(4){
    color: blue;;
}