body{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

div{
    height: 10vh;
    width: 10vw;
    border-radius: 100%;
    background-color: red;
}

div:hover{
    background-color: blueviolet;
}

#transition{
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 200ms;
    transition-timing-function: ease-in-out;
}