html{
    border: blue dashed 1px;
    padding: 3rem
}

body{
    border: blue dashed 1px;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding: 1rem;
}

div{
    width: 80px;
    height: 50px;
    margin: 10px auto;
    border: 2px solid black;
    border-radius: .5rem;
    padding: 10px;
}

#div1{
    background-color: red;
}
#div2{
    background-color: blue;
}
#div3{
    background-color: yellow;
}
#div4{
    background-color: green;
}